.groupItem
{
  margin: 20px 0;
}

.groupBody
{
  border: 1px solid var(--accent-color);
  border-left-width: 7px;
  border-radius: 5px 0 0 5px;
  min-width: max-content;
}

.groupRow
{
  font-size: 1.4rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(300px, 400px);
  grid-auto-columns: minmax(200px, 1fr);
}

.groupHeader
{
  user-select: none;
}


.groupRow > div
{
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  height: 35px;
}

.groupRow > div:last-child
{
  border-right: none;
}

.groupBody .groupRow:first-child div
{
  border-top: none;
  border-bottom: 1px solid var(--accent-color);
}

.groupBody .groupRow:last-child div
{
  border-bottom: none;
}

.groupHeaderProyect
{
  display: flex;
  align-items: center;
}

.headerItemSection
{
  display: flex;
  align-items: center;
  user-select: none;
}

.downBtn
{
  transform: rotate(-90deg);
}
