.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--action-color);
  padding: 2px 4px;
  border-radius: 4px;
  animation: expandWidth 0.2s ease-out forwards; 
}


.search-input {
  border: none;
  color: var(--font-color);
  outline: none;
  padding: 5px;
  font-size: 1.4rem;
  background-color: var(--sec_bg-color);
}

.search-input::placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

.input-icon {
  font-size: 1.8rem;
}

.single-item
{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
  padding: 3px 5px;
}

.single-item:hover {
  background-color: var(--accent-color);
}


@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}