.container
{
    position: absolute;
    width: 900px;
    height: 94vh;
    border: 1px solid var(--accent-color);
    background-color: var(--sec-bg-color);
    z-index: 3;
    right: 0;
    bottom: 0;
    border-top-left-radius: 5px;
    padding: 5px;
}

