.container
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 75% 20%;
  gap: 2px;
  align-items: center;
  user-select: none;
}

.icon
{
  cursor: pointer;
  font-size: 1.4rem;
  height: 100%;
  display: grid;
  place-content: center;
  border-radius: 3px;
}

.icon:hover
{
  background-color: var(--accent-color);
  color: var(--action-color);
}

.itemName
{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3rem;
  margin: 0;
  text-wrap: nowrap;
}

.chatData 
{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

.chatIcon
{
  font-size: 1.7rem;
  color: var(--progress-color);
  cursor: pointer;
}

.editInput
{
  border: none;
  outline: none;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  color: var(--accent-color);
}

.infoMsg
{
  background-color: var(--action-color);
  color: var(--sec-bg-color);
  font-size: 1.2rem;
  text-wrap: nowrap;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  user-select: none;
}
