.linkItem
{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 2px;
  color: var(--action-color);
  border-radius: 5px;
  border: 1px solid transparent;
}

.linkItem p
{
  font-size: 1.3rem;
  color: var(--font-color);
  font-weight: 400;
}

.linkItem:hover
{
  background-color: var(--accent-color);
  color: var(--font-color);
  border-color: var(--action-color);
}

.active
{
  background: var(--sec-bg-color);
  background: linear-gradient(90deg, var(--bg-color) 10%, var(--accent-color) 55%, var(--action-color) 100%);
}