.mainbar
{
  height: 40px;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainbar section:first-child
{
  font-size: 1.8rem;
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.mainbar section:last-child
{
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.mainbar section:last-child svg
{
  cursor: pointer;
}
