.mainbar
{
  height: 40px;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainbar section:first-child
{
  font-size: 1.8rem;
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.mainbar section:last-child
{
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
}

.mainbar section:last-child svg
{
  cursor: pointer;
}

.userData
{
  position: relative;
}

.userMenu
{
  position: absolute;
  bottom: -45px;
  right: 0;
  width: 200px;
  z-index: 2;
  border: 1px solid var(--accent-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
  background-color: var(--bg-color);
}

.menuOption
{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
}

.menuOption:hover
{
  background-color: var(--accent-color);
}

.iconOption
{
  display: grid;
  place-content: center;
  color: var(--action-color);
  user-select: none;
}