.headerContainer
{
    width: 100%;
    height: 30px;
}

.views
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.viewLink
{
    background-color: var(--action-color);
    color: var(--bg-color);
    font-size: 1.3rem;
    padding: 3px;
    border-radius: 5px;
    display: block;
    width: 100px;
    text-align: center;
    transition: all 0.3s ease;
}

.viewLink:hover
{
    background-color: var(--accent-color);
    color: var(--action-color);
}

.addViewButton
{
    background-color: var(--accent-color);
    color: var(--action-color);
}

.viewNameLabel
{
    color: var(--action-color);
}

.viewNameInput
{
    margin-top: 5px;
    font-size: 1.5rem;
}

.createViewButton
{
    background-color: var(--action-color);
    color: var(--bg-color);
    font-size: 1.3rem;
    padding: 3px;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    outline: none;
}

.createViewForm
{
    padding-top: 10px;
}

.viewTypeSelect
{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}