.container 
{
  display: grid;
  grid-template-rows: auto 1fr;
}

.header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header section:first-child
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-file--btn
{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  background-color: var(--bg-color);
  border: 1px solid var(--action-color);
  color: var(--action-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-file--btn:hover
{
  background-color: var(--accent-color);
}

.search
{
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
  border: 1px solid var(--accent-color);
  padding: 5px;
  border-radius: 3px;
  background-color: var(--bg-color);
}

.search input
{
  height: 100%;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.search input::placeholder
{
  color: var(--accent-color);
}

.content
{
  padding: 10px 15px;
}

.view-options
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.view-options .option
{
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  padding: 2px;
  color: var(--font-color);
  border-radius: 3px;
}

.option--selected
{
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.view-options .option:hover
{
  background-color: var(--accent-color);
}