.emptyGroupsText
{
  font-size: 3rem;
  color: var(--action-color);
  text-align: center;
  margin-top: 2rem;
  transform: translateY(500%);
  animation: jumping 2s ease 0.2s infinite alternate-reverse;
  user-select: none;
}

@keyframes jumping {
  from {
    transform: translateY(500%);
  }
  to {
    transform: translateY(300%);
  }
}