.container {
  margin: 10px 0;
}

.actionBtn {
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  border: none;
  background-color: var(--action-color);
  color: var(--bg-color);
}

.actionBtn:hover {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.btnIcon {
  display: grid;
  place-content: center;
}

.actionBtn p {
  font-size: 1.4rem;
  height: 100%;
  display: grid;
  place-content: center;
  padding-bottom: 3px;
}
.emptyGroupsTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: var(--action-color);
  user-select: none;
}

.buttonsContainer
{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
