.container {
  margin: 10px 0;
}

.actionBtn {
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  border: none;
  background-color: var(--action-color);
  color: var(--bg-color);
  margin: 0;
}

.actionBtn:hover {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.btnIcon {
  font-size: 1.5rem;
}

.actionBtn p {
  font-size: 1.4rem;
  height: 100%;
  display: grid;
  place-content: center;
  padding-bottom: 3px;
  margin: 0;
}
.emptyGroupsTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: var(--action-color);
  user-select: none;
}

.buttonsContainer
{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.dialogContainer
{
  width: 800px;
}

.headerElement {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.headerIcon
{
  color: var(--action-color);
}

.headerTitle
{
  font-size: 2rem;
}

.userCard
{
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo
{
  display: flex;
  align-items: baseline;
  gap: 10px;

  p {
    font-size: 1.4rem;
  }
}

.usersContainer
{
  max-width: 800px;
  margin: 0 auto;
}

.userProjectsDetails
{
  font-size: 1.2rem;
  user-select: none;
}

.userProjectsDetails summary
{
  font-size: 1.4rem;
  cursor: pointer;

}

.userProjectsDetails[open] summary
{
  font-weight: bold;
  color: var(--action-color);
}