.container
{
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.container-header
{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--accent-color);

  p
  {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-color);
  }
}

.chat-responses
{
  padding: 10px;
  border-top: 1px solid var(--accent-color);
}

.chat-response-container
{
  display: flex;
  gap: 15px;
  align-items: start;
  margin: 10px 0px;
}

.chat-response
{
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.chat-response span
{
  font-size: 1.2rem;
  display: block;
  font-weight: bold;
  color: var(--action-color);
}

.chat-response p 
{
  font-size: 1.2rem;
  max-width: 300px;
}

.chat-response::before
{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent ;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--accent-color);
  left: -10px;
  top: 3px; 
}

.chat-input
{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.response-entrance
{
  width: 80%;
  display: block;
  max-width: 600px;
  border-radius: 10px;
  padding: 5px;
  resize: none;
  font-family: inherit;
  outline: 1px solid var(--accent-color);
  border: none;
  background-color: var(--sec-bg-color);
  color: var(--font-color);
}

.response-entrance:focus
{
  outline: none;
  border: 1px solid var(--action-color);
}

.chat-input button
{
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  background-color: var(--action-color);
  color: var(--accent-color);
  border-radius: 5px;
}