:root
{
  --sec-bg-color: #fffffe;
  --bg-color: #f7f8ff;
  --font-color: #2b2c34;
  --accent-color: #d1d1e9;
  --action-color: #6246ea;
  --progress-color: #55c577;
  --invalid-color: #f7f8ff77;
  --subitem-bg-color: rgba(14, 14, 14, 0.15);
}

[data-theme="dark"]
{
  --bg-color: #29346b;
  --sec-bg-color: #252a4d;
  --font-color: #e1e4ff;
  --accent-color: #616ca1;
  --action-color: #B0ADFF;
  --progress-color: #68e287;
  --invalid-color: #23294659;
  --subitem-bg-color: rgba(189, 189, 189, 0.15);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--accent-color) rgba(0,0,0,0);
  scrollbar-width: thin;
}

html 
{
  font-size: 62.5%;
}

body
{
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: all 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul, ol 
{
  list-style: none;
}

a 
{
  text-decoration: none;
  color: inherit;
}

input, button, textarea
{
  font-family: inherit;
}

.notFound
{
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  place-content: center;
  background-color: var(--bg-color);
}

.notFound__link
{
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--progress-color);
}

.notFound__link:hover
{
  text-decoration: underline;
}

.notFound__title
{
  display: flex;
  justify-content: center;
  gap: 20px;
  user-select: none;

  h2
  {
    font-size: 5rem;
    color: var(--action-color);
  }

  p
  {
    align-self: center;
    font-size: 2rem;
  }
}

.react-calendar
{
  background-color: var(--bg-color);
  width: 250px;
  padding: 4px;
  font-size: 1.2rem;
  color: var(--font-color);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: var(--font-color);
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar .react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  color: var(--font-color);
}

.react-calendar .react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar .react-calendar__navigation button:disabled {
  background-color: var(--bg-color);
  opacity: 0.5;
}

.react-calendar .react-calendar__navigation button:enabled:hover,
.react-calenda .react-calendar__navigation button:enabled:focus {
  background-color: var(--accent-color);
  border-radius: 5px;
}

.react-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem;
}

.react-calendar .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar .react-calendar__month-view__days__day--weekend {
  color: var(--action-color);
}

.react-calendar .react-calendar__year-view .react-calendar__tile,
.react-calendar .react-calendar__decade-view .react-calendar__tile,
.react-calendar .react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar .react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--accent-color);
}


.react-calendar .react-calendar__tile--now {
  background: var(--progress-color);
  border-radius: 4px;
}

.react-calendar .react-calendar__tile--now:enabled:hover,
.react-calendar .react-calendar__tile--now:enabled:focus {
  background: var(--progress-color);
  opacity: 0.8;
}

.react-calendar .react-calendar__tile--hasActive {
  background: var(--bg-color);
}

.react-calendar .react-calendar__tile--hasActive:enabled:hover,
.react-calendar .react-calendar__tile--hasActive:enabled:focus {
  background: var(--accent-color);
}

.react-calendar .react-calendar__tile--active {
  background: var(--accent-color);
  color: var(--font-color);
}

.react-calendar .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--bg-color);
}
