.groupRow
{
    font-size: 1.4rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(200px, 2fr) repeat(auto-fit, minmax(60px, 1fr));
}

.groupRow > div
{
    border-right: 1px solid var(--accent-color);
}

.itemTitle
{
    display: flex;
    align-items: center;
}