.groupRow
{
    font-size: 1.4rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(300px, 400px);
    grid-auto-columns: minmax(200px, 1fr);
}

.groupRow > div
{
    border-right: 1px solid var(--accent-color);
}

.groupRow > div
{
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  height: 35px;
}

.groupRow > div:last-child
{
  border-right: none;
}

.groupBody .groupRow:first-child div
{
  border-top: none;
  border-bottom: 1px solid var(--accent-color);
}

.groupBody .groupRow:last-child div
{
  border-bottom: none;
}

.itemTitle
{
    display: grid;
    grid-template-columns: 1fr repeat(3, 50px);
    gap: 3px;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
}


.tasksContainer
{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.chatContainer
{
    display: grid;
    place-content: center;
    padding-top: 5px;
}

.deleteRow
{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--accent-color);
    padding-top: 5px;
    padding-left: 7px;
}

.contextMenu
{
    position: absolute;
    z-index: 2;
    background-color: var(--sec-bg-color);
    border: 1px solid var(--accent-color);
    padding: 5px 2px;
    border-radius: 5px;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    box-shadow: 1px 1px 2px 0px var(--accent-color);
}

.menuOption
{
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.menuOption:hover
{
    background-color: var(--accent-color);
}

.addSubItemBtn
{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-top: 1px solid var(--accent-color);
}

.subItemInput
{
    outline: none;
    font-family: inherit;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--sec-bg-color);
    padding-left: 2px;
}

.subItemTitle
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowContainer
{
    margin: 20px 0px;
    box-shadow: 0px 5px 10px 0px var(--subitem-bg-color);
    position: relative;
}

.subItemsIcon 
{
    color: rgb(255, 73, 73);
    cursor: pointer;
}
