.container
{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 10px;
}

.container-item
{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
  padding: 3px 5px;
  width: 100%;
}


.container-item:hover {
  background-color: var(--accent-color);
}