.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.actionBtn
{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
  width: 100px;
}

.projectTypeContainer
{
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.projectType
{
  display: flex;
  align-items: center;
  gap: 5px;
}

.projectTypeGenerator
{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}

.dropdown
{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--accent-color);  
}

.projectTypeGenerator p
{
  color: var(--action-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.projectTypeGeneratorManual
{
  margin-bottom: 30px;
}

.inputText
{
  height: 30px;
  width: 250px;
  padding: 0 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--accent-color);
  margin-top: 10px;
}

.inputNumber
{
  height: 30px;
  width: 250px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 10px;
}

.inputTextLabel
{
  color: var(--action-color);
  font-weight: bold;
  font-size: 1.3rem;
  display: block;
}

.switchSelection
{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.clientInfo
{
  margin-top: 30px;
}

.dropdownLabel
{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 20px 0;
}

.dropdownLabel label
{
  padding-left: 10px;
}

.projectInfo
{
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.inputGroup
{
  height: 30px;
  width: 250px;
}

.inputGroup input
{
  height: 30px;
  padding: 0 5px;
  font-size: 1.2rem;
  outline: none;
}

.chipsContainer 
{
  width: 100%;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  align-content: center;
}

.chipsActions
{
  display: flex;
  align-items: flex-end;
  height: 100%;
  justify-content: flex-end;
  gap: 10px;
}

/* Estilos personalizados para el componente Chips */


/* Estilos para las tarjetas de datos de máquina */
.machineDataCard {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--sec-bg-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.machineDataCardTitle {
  font-size: 1.4rem;
  color: var(--action-color);
  margin-bottom: 12px;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 5px;
}

.machineDataCardContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.formNotes
{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tagFolio, .p-tag, .p-component
{
  background-color: var(--action-color);
  color: var(--bg-color);
  height: 25px;
  width: 80px;
  font-size: 1.4rem;
}

