:root {
  --pageHeight: calc(95vh - 20px)
}

.loadContainer
{
  height: var(--pageHeight);
  width: 100%;
}

.mainContainer
{
  height: var(--pageHeight);
  display: grid;
  grid-template-rows: 80px auto;
  gap: 20px;
}

.header 
{
  display: flex;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 10px;
}

.headerTitle
{
  color: var(--action-color);
  font-size: 2rem;
}

.dataContainer
{
  display: grid;
  grid-template-rows: 1fr 40px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  gap: 10px;
}

.datTableContainer 
{
  overflow-y: auto; 
  overflow-x: hidden;
  height: 100%; 
  position: relative;
}

.dataTable
{
  border-collapse: collapse;
  height: 100%; 
  position: absolute;
  width: 100%;
  background-color: var(--sec-bg-color);
  border-radius: 10px;
}

.dataTable th,
.dataTable td
{
  padding: 8px;
  text-align: left;
  border: 1px solid var(--accent-color);
}

.dataTable th
{
  font-size: 1.3rem;
  overflow-y: auto;
}

.dataTable td
{
  font-size: 1.2rem;
}

.dataTablePaginator
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--sec-bg-color);
  border-radius: 10px;
}

.dataTablePaginator button
{
  background-color: var(--action-color);
  color: var(--bg-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}