
.itemText
{
    cursor: text;
    border: 1px solid transparent;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    outline: none;
    font-family: inherit;
    background: none;
    color: var(--font-color);
}

.itemText:hover
{
    border-radius: 5px;
    border-color: var(--accent-color);
}