.item article
{
  padding: 0 5px;
  display: grid;
  grid-template-columns: 15px 1fr;
  place-items: center;
  gap: 5px;
  height: 100%;
}

.item p
{
  cursor: text;
  text-wrap: nowrap;
}

.item input
{
  outline: none;
  border: none;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  font-family: inherit;
  background: none;
  color: var(--font-color);
  text-align: center;
  font-size: 1.4rem;
}

.item:hover .deleteColBtn
{
  display: block;
}

.deleteColBtn
{
  position: absolute;
  right: 10px;
  color: rgb(245, 94, 94);
  cursor: pointer;
  display: none;
}