.containerRow
{
    font-size: 1.4rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(200px, 2fr) repeat(auto-fit, minmax(60px, 1fr));
}

.containerRow > div
{
    border-right: 1px solid var(--accent-color);
    padding: 5px 2px;
}