.tableUsers
{
  border: 1px solid var(--accent-color);
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

.tableUsers tr:nth-child(even)
{
  background-color: rgba(0,0,0,0.1);
}

.tableUsers td
{
  border: 1px solid var(--accent-color);
  font-size: 1.2rem;
  padding-left: 5px;
}

.tableUsers th
{
  border: 1px solid var(--accent-color);
  font-size: 1.3rem;
}

.roleSelection
{
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--sec-bg-color);
  color: var(--font-color);
}