.modalContainer
{
  position: relative;
}

.modalControls
{
  position: absolute;
  background-color: var(--bg-color);
  z-index: 2;
  width: 200px;
  height: max-content;
  padding: 5px 10px;
  border-radius: 3px;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 25px;
  gap: 5px;
  box-shadow: 4px 3px 3px 1px rgba(42, 40, 40, 0.4);
  bottom: -280%;
  transform: translateY(10%) translateX(10px);
  border: 1px solid var(--accent-color);
}

.modal-control
{
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  padding: 5px;
}

.modal-control:hover
{
  background-color: var(--accent-color);
  border-radius: 3px;
}

.modal-icon
{
  color: var(--action-color);
}
