.header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.options
{
  display: flex;
  gap: 10px;
}

.options p
{
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.options p:hover
{
  background-color: var(--accent-color);
}

.options .selected
{
  background-color: var(--action-color);
  color: var(--bg-color);
}

.content
{
  border-top: 2px solid var(--action-color);
  padding-top: 10px;
  height: calc(95vh - 76px);
  overflow: auto;
  padding-bottom: 150px;
}

.titleContainer
{
  display: flex;
  gap: 5px;
  align-items: center;
}

.closeButton
{
  color: rgb(201, 47, 47);
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.closeButton:hover
{
  background-color: rgba(201, 47, 47, 0.466);
  border-radius: 50%;
}