.layout 
{
  display: grid;
  grid-template-rows: 5vh 95vh;
  height: 100vh;
}

.container 
{
  display: flex;
  gap: 10px;
  min-height: 0;
  min-width: 0;
}

.content 
{
  background: var(--sec-bg-color);
  padding: 10px;
  border-top-left-radius: 10px;
  position: relative;
  height: 95vh;
  width: 100%;
  overflow: auto;
  flex: 1;
  min-height: 0;
  min-width: 0;
}
