.layout 
{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.container 
{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.content 
{
  background: var(--sec-bg-color);
  padding: 10px;
  border-top-left-radius: 10px;
  position: relative;
  min-height: 0;
}
