.errorTitle
{
  font-size: 3rem;
  color: rgb(139, 1, 1);
}

.errorDescription
{
  font-size: 1.5rem;
  color: var(--font-color);
}

.emptyContainer 
{
  display: grid;
  place-content: center;
  height: 100%;
  text-align: center;
}

.emptyTitle
{
  font-size: 2.5rem;
  color: var(--action-color);
  font-weight: bold;
  animation: jumping 1s ease infinite alternate-reverse;
  user-select: none;
}

@keyframes jumping {
  from
  {
    transform: translateY(0);
  }
  to
  {
    transform: translateY(-100px);
  }
}